table {
    border-collapse:  collapse;
}

table {
    border:  none;
}

/* Displays the whole table as a (vertical) block.  So the list items 
is displayed downward rather than in traditional table form.  */
table, thead, tbody, th, td, tr {
    display:  block;
}

/* Hide the headers by positioning them out of the screen.  Hiding 
instead of removing <th> elements makes the table still accessible.  */
thead tr {
    position:  absolute;
    top:  -9999px;
    left:  -9999px;
}

tr {
    border:  1px solid #ccc;
    margin-bottom:  1em;
}

/* Odd column has different background color.  */
tr:nth-of-type(odd) {
    background:  #eee;
}

/* Behaves like a row.  */
td {
    border:  none;
    border-bottom:  1px solid #eee;
    position:  relative;
    padding-left:  20%;
}

td:before {
    /* Now like a table header.  */
    position:  absolute;
    /* Top/left values mimic padding.  */
    top:  1px;
    left:  6px;
    width:  45%;
    padding-right:  10px;
    white-space:  nowrap;
}

/* Label the data in respective to their value.  */
td:nth-of-type(1):before {
    content:  "Name";
}

td:nth-of-type(2):before {
    content:  "Title";
}

td:nth-of-type(3):before {
    content:  "Home Page";
}

td:nth-of-type(4):before {
    content:  "Email";
}