#main {
    width:  100%;
    display:  table;
}

/* Display from left to right, similar to a table cell.  */
#main_content, #secondary_content, #tertiary_content {
    display:  table-cell;
}

footer {
    width:  100%;
    background-color:  #cccccc;
    text-align:  center;
    font-style:  italic;
}

#secondary_content {
    width:  200px;
    background-color:  #52f471;
}

#tertiary_content {
    width:  125px;
    background-color:  #f452d5;
}

#secondary_content ul {
    list-style:  none;
    margin:  12px 0px 0px 12px;
    padding:  0px;
}

#secondary_content li a:link, #secondary_content li a:visited {
    font-size:  12pt;
    font-weight:  bold;
    padding:  3px 0px 3px 3px;
    color:  #000000;
    text-decoration:  none;
    display:  block;
}